@let course = courseInput(); @if(course){
<div class="card bg-neutral h-full">
  <figure>
    <img [ngSrc]="course.coverImageURL | imgUrl" width="750" height="422" />
  </figure>
  <div class="card-body p-2.5 lg:p-4">
    <h2 class="card-title text-sm lg:text-xl line-clamp-2 text-body-5 font-bold flex-1">
      {{ course.courseName_AR }}
    </h2>
    <div class="flex items-center gap-1 lg:mb-2">
      <span class="iconify solar--user-circle-broken text-lg lg:text-xl text-label"></span>
      <h5 class="text-xs lg:text-sm text-label">
        {{ course.firstName + ' ' + course.familyName }}
      </h5>
    </div>
    <div class="card-actions">
      <a
        [routerLink]="['/course', course.id]"
        [state]="{ title: course.courseName_AR }"
        class="btn btn-sm lg:btn-md btn-primary w-full px-1 lg:px-4"
      >
        <span>إشترك الآن</span>
        <span class="text-secondary ms-0.5"
          >{{ (course.discountPrice || course.originalPrice) * currency.value | number : '1.0-0'
          }}<span [class]="{ 'font-saudi-riyal': isSaudi, 'text-lg': isSaudi }">{{
            currency.code
          }}</span></span
        >
        @if(!isMobile && course.discountPrice < course.originalPrice){
        <span class="line-through text-base-content text-sm"
          >{{ course.originalPrice * currency.value | number : '1.0-0'
          }}<span [class]="{ 'font-saudi-riyal': isSaudi, 'text-lg': isSaudi }">{{
            currency.code
          }}</span></span
        >
        }
      </a>
    </div>
  </div>
</div>
} @else {
<div>
  <div class="skeleton h-21 lg:h-[171.6px] w-full mb-2"></div>
  <div class="py-2.5 lg:py-4">
    <div class="skeleton h-3 lg:h-4 mb-2 lg:mb-4 w-full"></div>
    <div class="skeleton h-3 lg:h-4 mb-2 lg:mb-4 w-2/3"></div>
    <div class="skeleton h-3 lg:h-4 w-full mb-2 lg:mb-4"></div>
    <div class="skeleton h-8 lg:h-10 w-full"></div>
  </div>
</div>
}
