<ul id="sidenav-menu" class="menu w-full px-5 pt-10">
  <li class="text-body-5 hover:bg-red-300 border-b-[.5px] border-dashed border-body-4">
    <a class="py-3 focus:bg-transparent" routerLink="/">الرئيسية</a>
  </li>
  <li class="text-body-5 border-b-[.5px] border-dashed border-body-4">
    <a class="py-3 hover:bg-transparent focus:bg-transparent" routerLink="/about-us">من نحن</a>
  </li>
  @if(user()){
  <li class="text-body-5 border-b-[.5px] border-dashed border-body-4">
    <a class="py-3 hover:bg-transparent focus:bg-transparent" routerLink="/profile/my-courses"
      >كورساتي</a
    >
  </li>
  <li class="text-body-5 border-b-[.5px] border-dashed border-body-4">
    <details>
      <summary class="py-3 hover:bg-transparent focus:bg-transparent">حسابي</summary>
      <ul>
        <li>
          <a class="py-3 hover:bg-transparent focus:bg-transparent" routerLink="/profile"
            >الملف الشخصي</a
          >
        </li>
        <li>
          <a
            class="py-3 hover:bg-transparent focus:bg-transparent"
            routerLink="/profile/fav-courses"
            >المفضلة</a
          >
        </li>
      </ul>
    </details>
  </li>
  <li class="text-body-5 border-b-[.5px] border-dashed border-body-4">
    <a class="py-3 hover:bg-transparent focus:bg-transparent" routerLink="/cart">سلة المشتريات</a>
  </li>
  <li class="text-body-5 border-b-[.5px] border-dashed border-body-4">
    <a class="py-3 hover:bg-transparent focus:bg-transparent" (click)="logoutHandler()"
      >تسجيل خروج</a
    >
  </li>
  } @else {
  <li class="text-body-5 border-b-[.5px] border-dashed border-body-4">
    <a class="py-3 hover:bg-transparent focus:bg-transparent" routerLink="/login">اشترك الان</a>
  </li>
  }
</ul>
