<h3 class="text-lg lg:text-3xl font-bold text-body-5 mb-5 lg:mb-10">طرق الدفع</h3>
@if(!selectedPaymentMethod()){
<div class="flex flex-col gap-3 lg:gap-4">
  @switch (userCountry) { @case(UserCountry.EG){
  <button
    class="btn btn-dash btn-xl text-body-5 font-normal gap-4 justify-start h-15 lg:h-20"
    [disabled]="isPaying()"
    (click)="loadFawaterkPaymentMethodHandler()"
  >
    <img class="w-11 h-11 lg:w-17 lg:h-17" src="images/Master-card.svg" />
    <span>/</span>
    <img class="w-11 lg:w-17 object-fit" src="images/vc.jpg" />
    <span>/</span>
    <img class="w-11 lg:w-17 object-fit" src="images/fawry-seeklogo.png" />
  </button>
  } @case(UserCountry.SA){
  <button
    [disabled]="isPaying()"
    (click)="loadTappyPaymentMethodHandler()"
    class="btn btn-dash btn-xl text-body-5 font-normal gap-4 justify-start h-15 lg:h-20"
  >
    <img class="w-18 h-7 lg:w-24 lg:h-10" src="images/Tabby.svg" />
  </button>
  } @default {
  <button
    [disabled]="isPaying()"
    (click)="getStripePaymentIntentHandler(true)"
    class="btn btn-dash btn-xl text-body-5 font-normal gap-4 justify-start h-15 lg:h-20"
  >
    <img class="w-11 h-11 lg:w-17 lg:h-17" src="images/Master-card.svg" />
    <span class="">/</span>
    <img class="w-11 h-11 lg:w-17 lg:h-17" src="images/Mada.svg" />
  </button>
  } }
  <ngx-stripe-elements [stripe]="stripe" [elementsOptions]="walletElementsOptions()">
    <ngx-stripe-express-checkout
      [options]="walletOptions"
      (confirm)="onWalletPaymentConfirm($event)"
      (cancel)="onWalletPaymentCancel()"
    >
    </ngx-stripe-express-checkout>
  </ngx-stripe-elements>
  <ngx-paypal [config]="payPalConfig"></ngx-paypal>
</div>
} @else {
<button
  class="btn btn-link h-auto dark:text-base-content mb-4 px-0!"
  [disabled]="isPaying()"
  (click)="selectedPaymentMethod.set(null)"
>
  <span class="iconify gg--arrow-right text-xl"></span><span>اختر وسيله دفع اخري</span>
</button>
@if(loadingPaymentMethod()){ @switch (selectedPaymentMethod()){ @case(PAYMENTMETHOD.STRIPE){
<div class="flex gap-3 flex-col mb-10">
  <div class="skeleton h-11"></div>
  <div class="skeleton h-11"></div>
  <div class="flex gap-3">
    <div class="skeleton h-11 flex-1"></div>
    <div class="skeleton h-11 flex-1"></div>
  </div>
  <div class="skeleton h-11"></div>
</div>
<div class="skeleton w-full h-12"></div>
} @case(PAYMENTMETHOD.FAWATEERK){
<div class="flex flex-wrap gap-2">
  <div class="skeleton h-11 w-1/3"></div>
  <div class="skeleton h-11 w-1/3"></div>
  <div class="skeleton h-11 w-1/3"></div>
  <div class="skeleton h-11 w-1/3"></div>
  <div class="skeleton h-11 w-1/3"></div>
</div>
} @case (PAYMENTMETHOD.TAP) {
<div class="skeleton w-full h-12 mb-2"></div>
<div class="skeleton w-1/2 h-6 mb-10"></div>
<div class="skeleton w-full h-12 mb-4"></div>
<div class="skeleton w-full h-12"></div>
} } }@else { @switch (selectedPaymentMethod()) { @case(PAYMENTMETHOD.STRIPE){
<ngx-stripe-elements [stripe]="stripe" [elementsOptions]="cardElementsOptions()">
  <ngx-stripe-payment
    [options]="paymentElementOptions"
    (loaderror)="loadStripeErrorHandler($event)"
  />
</ngx-stripe-elements>
<button
  class="btn btn-primary w-2/3 lg:w-auto h-12 mt-8 lg:mt-10"
  [class]="customPaymentBtnClass()"
  [disabled]="isPaying()"
  (click)="confirmStripePaymentHandler(true)"
>
  <span>ادفع الآن</span>
  @if(isPaying()){
  <span class="loading loading-spinner"></span>
  }
</button>
} @case(PAYMENTMETHOD.FAWATEERK){
<div id="fawaterkDivId" appFawaterk></div>
}@case (PAYMENTMETHOD.TAP) {
<div #tapContainer id="tap-container"></div>
<div class="flex flex-col mt-8 lg:mt-10 gap-4">
  <button
    [class]="customPaymentBtnClass()"
    class="btn btn-primary h-12"
    [disabled]="isPaying()"
    (click)="confirmTapPaymentHandler()"
  >
    <span>ادفع الآن</span>
    @if(isPaying() && !isTappyInstallmentPayment()){
    <span class="loading loading-spinner"></span>
    }
  </button>
  <button
    class="btn btn-primary h-12"
    [disabled]="isPaying()"
    [class]="customPaymentBtnClass()"
    (click)="confirmTappyPaymentHandler()"
  >
    <span>التقسيط بواسطه تابي علي اربع دفعات</span>
    @if(isPaying() && isTappyInstallmentPayment()){
    <span class="loading loading-spinner"></span>
    }
  </button>
</div>
} } } }
