/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@plugin "daisyui";
@plugin "@iconify/tailwind4" {
  prefixes: solar, ic, gg, fluent, hugeicons, si, lets-icons, devicon, mingcute, material-symbols,
    uil, mdi;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-primary: #0a3e6e;
  --color-secondary: #f8b100;
  --color-base-100: #f8fcff;
  --color-base-200: #9494940d;
  --color-base-300: #94949414;
  --color-base-content: #949494;
  --color-primary-content: #fff;
  --color-secondary-content: #fff;
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: #fff;
  --color-neutral-content: #949494;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-primary: #0a3e6e;
  --color-secondary: #f8b100;
  --color-base-100: #111111;
  --color-base-200: #333333;
  --color-base-300: #222;
  --color-base-content: #ffffffcc;
  --color-primary-content: #fff;
  --color-secondary-content: #fff;
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: #393936;
  --color-neutral-content: #949494;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: 'STC';
  src: url('public/fonts/STC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'STC';
  src: url('public/fonts/STC-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'STC';
  src: url('public/fonts/STC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'saudi_riyal';
  src: url('public/fonts/saudi_riyal_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'saudi_riyal_bold';
  src: url('public/fonts/saudi_riyal_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --body-1: #696969;
  --body-5: #000;
  --custom-background-1: #f2f6f9;
  --color-base-600: #9494941a;
}

[data-theme='dark'] {
  --body-1: #d3d3d3;
  --body-5: #fff;
  --custom-background-1: #333;
  --color-base-600: #454545;
}

@theme inline {
  --default-font-family: 'STC', sans-serif;
  --color-package-card: #fffbee;
  --color-body-1: var(--body-1);
  --color-body-2: #b8b8b8;
  --color-body-3: #d3d3d3;
  --color-body-4: #8b8b8b;
  --color-body-5: var(--body-5);
  --color-custom-1: #ebebeb;
  --color-custom-2: #d4d4d4;
  --color-background-1: #656565;
  --font-saudi-riyal: 'saudi_riyal';
  --font-saudi-riyal-bold: 'saudi_riyal_bold';
  --color-dark-primary: #0a3e6e33;
  --color-base-400: #94949433;
  --color-base-500: #e2e2e2;
  --color-secondary-5: #f8b1000d;
  --color-danger: #ff4623;
  --color-base-600: var(--color-base-600);
  --color-base-700: #bfbfbf;
  --color-custom-background-1: var(--custom-background-1);
  --color-background-google: #e33629;
}

@layer utilities {
  .container {
    margin: 0 auto;
  }

  @media (max-width: 640px) {
    .container {
      width: calc(100% - 54px);
    }
  }
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'STC', sans-serif;
}
